<!-- file:///Users/lasyavadapalli/Desktop/usc/github/asmt6_app/weather.html -->
<!Doctype HTML>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="description" content="weather app description">
		<title>Weather</title>
		<link rel="stylesheet" href="weather.css">
	</head>
	<body>
		<header>
		</header>
		<main>
			
			<br>
			<br>

			<div class="search_card">
				<div class="search_card_header">
					<p class="search_card_header" style="margin-top: 10px; margin-left: 10px;">
						Weather Search
					</p>	
					<p style="margin-top:10px; margin-left:10px">
						Fill out the form to get weather info!
					</p>
				</div>
				<div class="search_card_body">
					<form>
						<label>Street</label><br>
						<input type="text" id="street" name="street"><br>
						<label>City</label><br>
						<input type="text" id="city" name="city">
						<label>State</label>
						<select id="state" name="state">
							<option value="CA">CA</option>
							<option value="CA">NY</option>
							<option value="CA">WA</option>
						</select>
					</form>
					<br>
					<p style="margin-top: 10px; color: black;">
						Want us to auto-detect your location? Check here<input type="checkbox" id="location" name="location" value="location">
					</p>
					<form method="GET" action="/weather.html">
						<button type="submit_search" name = "submit_search"  class="submit_button">
	                		SUBMIT
	                	</button>
	                	<button type="submit" name="clear_search" class="clear_button">
	                		CLEAR
	                	</button>
                	</form>
				</div>
			</div>




		</main>
	</body>
</html>